In [1]:
# rules for ariable names
# - names can not start with a number
# - There can be no spaces in the name, use _ instead
# - Can't use any of these symbols : ' " , < > / \ ? # $ % ^ & + - * ~ !

In [2]:
my_dogs = 2
print(my_dogs)

2

In [4]:
my_dogs = ['Sammy', 'Frankie']
print(my_dogs)

# Previously my_dogs is a number variable. After that it was changed to another type. 
# Python language allows to reassign the variable type by assigning the value.
# Other languages are not allowed to do this way. It will be an error!

['Sammy', 'Frankie']

In [5]:
a = 5

In [6]:
a

5

In [21]:
# reassign
a = 10

In [22]:
a

10

In [29]:
 a = a + a

In [30]:
a

'GookGook'

In [25]:
# at the moment a = 20, 
# if we run In[23] it will be a = 20 + 20, then the new a is 40
# at the moment a = 40, 
# if we run In[23] it will be a = 40 + 40, then the new a is 80

In [26]:
type(a)

int

In [27]:
a = 30.5
type(a)

float

In [28]:
a = 'Gook'
type(a)

str

In [31]:
a = ['g','b']
type(a)

list

In [33]:
my_income = 100
tax_rate = .1
my_taxes = my_income * tax_rate

In [34]:
my_taxes

10.0